@using ChikovMF.Application.ChikovMF.Queries.GetProjectList

@model ProjectListViewModel;
@{
    ViewData["Title"] = "Список проектов";
}

@if (Model.Projects is null || Model.Projects.Count == 0)
{
    <p>Список проектов пуст.</p>
}
else
{
    <section id="gallery">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var project in Model.Projects)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            @if (project.Images != null && project.Images.Count != 0)
                            {
                                <img src="@(project.Images?.First().Link)" alt="Изображение проекта @project.Title." class="card-img-top img-fluid" height="225">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@project.Title</h5>
                                <p class="card-text">@project.Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    @if (project.Tags is not null && project.Tags.Count != 0)
                                    {
                                        <small class="text-body-secondary">@String.Join(", ", project.Tags.Select(t => t.Title))</small>
                                    }
                                    <div class="btn-group">
                                        <a asp-controller="Project" asp-action="View" asp-route-projectId="@project.ProjectId" class="btn btn-outline-success btn-sm">Подробнее</a>
                                        @* <a class="btn btn-outline-success btn-sm">Изменить</a> *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}